[Desktop Entry]
Version=1.0
Name=Corellian Launcher
Comment=A Simple App Launcher
Type=Application
Icon=/usr/share/pixmaps/corellian-launcher.png
Categories=Utility;
TryExec=/usr/bin/launcher
Exec=launcher

